.App {
    font-family: "Calibri";
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.grow1 {
    flex: 1;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-btw {
    justify-content: space-around;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    background-color: #c93232;
    color: white;
    font-size: 30px;

}

.charBox {
    width: 200px;
    border: 1px solid black;
}

.img {
    height: 250px;
    width: 150px;
}

.btn {
    height: 50px;
    width: 150px;
}

body {
    background-color: bisque;
}

.itemBox {
    border: solid 1px black;
}
.heroBox{
    border: solid black 1px;
}
.helo{
    height: 50px;
}

